<!DOCTYPE html>
<html>
  <head>
    <title>The Great Library Management System</title>
    
    <style>
        .container{
            width: 100vw;
            height: 100vh;
            background-color: #f0f0f0;
        }
        .main{
            overflow: hidden;
        }
        .personal{
            display: flex;            
            justify-content: center;
            padding: 20px 30px;
            background-color: #fedddd;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .select{
            display: flex;            
            justify-content: center;
            padding: 20px 30px;
            background-color: #fedddd;
            border-radius: 10px;
        }
        .select form{
            display: flex;
            justify-content: center;
        }
        .select select{
            padding: 0 20px;
            width: 100px;
            height: 40px;
            color: #999999;
            background-color: #fff;
            border-radius: 10px;
            outline: none;
        }
        .select .search{
            display: flex;
            width: 800px;
            height: 40px;
            justify-content: space-between;
            background-color: #fff;
            border-radius: 10px;
            overflow: hidden;
        }
        .select .search input{
            width: 150px;
            flex-grow: 1;
        }
        .select .search button{
            width: 100px;
            height: 40px;
            text-align: center;
            background-color: #f0f0f0;
            border: none;
            border-radius: 10px;
        }
        .content{
            margin-top: 30px;
            background-color: #f0f0f0;
            border-radius: 10px;
        }
        .table{
            width: 100%;
            color: #4d4d4d;
            border-collapse: collapse;
            text-align: center;
            line-height: 40px;
        }
        .dialog{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: #000;
            opacity: .5;
        }
        .dialog-wrap{
            display: none;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 999;
            padding: 20px;
            width: 400px;
            margin-left: -100px;
            background-color: #fff;
            border-radius: 10px;
            transform: translate(-50%, -50%);
        }
        .dialog-table{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            position: relative;
        }
        .dialog-table button{
            padding: 10px 10px;
            background-color: #f0f0f0;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            align-items: center;
        }
        .isDialog{
            display: none;
        }
        .isDelete{
            display: none;
        }
        .page{
            width: 100%;
            padding: 20px;
            color: #000;
            text-align: center;
            border-top: 1px solid #f0f0f0;
        }
        .page ul li{
            margin-right: 10px;


        }
    </style>
  </head>

  <body>
    <div class="container">
        <div class="main">
            <div class="personal">
                <h2>Personal Information</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>USERNAME</th>
                            <th>REALNAME</th>
                            <th>GENDER</th>
                            <th>AGE</th>
                            <th>AUTHORITY</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= self.id %></td>
                            <td><%= self.username %></td>
                            <td><%= self.realname %></td>
                            <td><%= self.gender %></td>
                            <td><%= self.age %></td>
                            <td><%= self.role %></td>
                            <td>
                                <button class="editBtn" data-username="<%= self.username%>">Edit</button>
                            </td>
                        </tr>    
                    </tbody>
                </table>
            </div>

            <!--搜索功能-->
            <div class="select">
                <form action="/searchuser" method="post" id="search">
                    <select name="role" id="">
                        <option value="">Null</option>
                        <option value="superadmin">Superadmin</option>
                        <option value="admin">Admin</option>
                    </select>
                    <div class="search">
                        <input type="text" name="id" placeholder="Enter ID">
                        <input type="text" name="username" placeholder="Enter USERNAME">
                        <button>Search</button>
                        <button id="addBtn">Add</button>
                    </div>
                </form>
            </div>

            <!--用户列表-->
            <div class="content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>USERNAME</th>
                            <th>REALNAME</th>
                            <th>GENDER</th>
                            <th>AGE</th>
                            <th>AUTHORITY</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% other.forEach(function(item){ %>
                        <tr>
                            <td><%= item.id %></td>
                            <td><%= item.username %></td>
                            <td><%= item.realname %></td>
                            <td><%= item.gender %></td>
                            <td><%= item.age %></td>
                            <td><%= item.role %></td>
                            <td>
                                <button class="editBtn" data-id="<%= item.username%>">Edit</button>
                                <button class="deleteBtn" data-id="<%= item.id%>">Delete</button>
                            </td>
                        </tr>    
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--增加用户-->
    <div class="dialog-wrap isDialog">
        <div calss="dialog-table">
            <h2>Add The New User Information</h2>
            <form action="/adduser" method="post" id="add">
                <input type="text" name="id" placeholder="ID">
                <input type="text" name="username" placeholder="USERNAME">
                <input type="password" name="password" placeholder="PASSWORD">
                <input type="text" name="realname" placeholder="REALNAME">
                <input type="text" name="gender" placeholder="GENDER">
                <input type="text" name="age" placeholder="AGE">
                <select name="role" id="roleselect">
                    <option value="superadmin">Superadmin</option>
                    <option value="admin">Admin</option>
                </select>
                <button type="submit">Submit</button>
                <button type="button" id="closeBtn">Close</button>
            </form>
        </div>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script>
        $('#addBtn').click(function(e){
            e.preventDefault();
            $('.isDialog').show();
        });
        $('#closeBtn').click(function(){
            $('.isDialog').hide();
        });
    </script>

    <!--删除功能-->
    <div class="dialog-wrap isDelete">
        <div calss="dialog-table">
            <h2>Confirm Deletion?</h2>
            <button type="button" class="confirmBtn">Confirm</button>
            <button type="button" class="cancelBtn">Cancel</button>
        </div>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script>
        var id = '';
        $('.deleteBtn').click(function(e){
            id = $(this).data('id');
            e.preventDefault();
            $('.isDelete').show();
        });
        $('.cancelBtn').click(function(){
            $('.isDelete').hide();
        });
        $('.confirmBtn').click(function(){
            window.location.href = '/deleteuser?id=' + id;
        });
    </script>

    <!--编辑功能-->
    <div class="dialog-wrap isEdit">
        <div calss="dialog-table">
            <h2>Edit The User Information</h2>
            <form action="/edituser" method="post" id="edit">
                <input type="text" name="id" placeholder="ID">
                <input type="text" name="username" placeholder="USERNAME">
                <input type="password" name="password" placeholder="PASSWORD">
                <input type="text" name="realname" placeholder="REALNAME">
                <input type="text" name="gender" placeholder="GENDER">
                <input type="text" name="age" placeholder="AGE">
                <select name="role" id="roleselect">
                    <option value="superadmin">Superadmin</option>
                    <option value="admin">Admin</option>
                </select>
                <button type="submit" class="confirmBtn">Confirm</button>
                <button type="button" class="cancelBtn">Cancel</button>
            </form>
        </div>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script>
        var username = '';
        $('.editBtn').click(function(e){
            username = $(this).data('username');
            e.preventDefault();
            $('.isEdit').show();
            $('input[name="username"]').val(username);
        });
        $('.cancelBtn').click(function(){
            $('.isEdit').hide();
        });
    </script>


  </body>
</html>